.social li{
	list-style: none;
	display: inline-block;
}
.social a{
	color: black;
}

.instagram:hover{
	color: #9f50c6;
}

footer{
	margin-top: 50px;
	background-color: white;
}

.footer-copyright{
	background: #d9d9d9;
}

