body{
	margin: 0;
	padding: 0;
	background-image: url("img/port-img.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
#background{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin-top: 100px;
}

.img-port{
	
}

.text{
	text-align: center;
	color: black;
}
.overlay{
	top: 45%;
	width: 100%;
	transition: opacity 0.5s ease-in;
	transition: background-color 0.5s ease-in;
	position: absolute;
	opacity: 0;
}
.img_overlay:hover .overlay{
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.7);
}

.selection{
	top: 25%;
	left: 0;
	z-index: 999;
}

.selection-xs{
	width: 100%;
	background-color: rgba(255, 255, 255, 9);
	margin-bottom: 20px;
}
.formulaire-port{
	background-color: rgba(255, 255, 255, 0.5);
	padding: 25px;
	border-radius: 5px;
}